<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{PAGE_TITLE}} | Our Dirt Therapy</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/components.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/skate-parks/">Skate Parks</a></li>
            <li><a href="/mtb-trails/">MTB Trails</a></li>
            <li><a href="/off-road-areas/">Off-Road Areas</a></li>
        </ul>
    </nav>


    <main id="main-content">
        <h1>{{PAGE_TITLE}}</h1>
        <p>{{INTRO_TEXT}}</p>

        <section class="grid-container">
            {{GRID_CONTENT}}
        </section>
    </main>
</body>
</html>